# FrontEnd Owners
/Frontend/         @SheelaYN @AnithaG02

# BackEnd Owners
/Backend/          @Ragul-maker2001 @jerisht

# QA Automation Owners
/Qa-Automation/    @Akshaya363

# Admin (You)
* @vasavamshi-vv
